{% if (dataWorks) %}
{% include 'alerta.html' %}
<div class="table-responsive">
    <table class="table table-hover my-auto table-responsive">
        <thead>
            <tr><th colspan=8 class='text-center text-lg'>Documentos</th></tr>
            <tr>
                <th scope="col" class="text-center align-middle">N° trabajo</th>
                <th scope="col" class="text-center align-middle">Tipo de trabajo</th>
                <th scope="col" class="text-center align-middle" >Fecha</th>
                <th scope="col" class="text-center align-middle">Ubicación</th>
                <th scope="col" class="text-center align-middle">Supervisor</th>
                <th scope="col" class="text-center align-middle">Nombre documento</th>
                <th scope="col" class="text-center align-middle">Estado</th>
                <th scope="col" class="text-center align-middle">Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for works in dataWorks %}
            <!-- Recorre cada elemento de la lista y data y la asigna a una variable user -->
            <tr id="Registro{{ works.idWork }}">
                <td class="text-center">{{ works.idWork }}</td>
                <td class="text-center">
                    {% if works.typeWork == '1' %} Instalación {% endif %}
                    {% if works.typeWork == '2' %} Mantenimiento {% endif %}
                    {% if works.typeWork == '3' %} Limpieza {% endif %}
                </td>
                <td class="text-center small">{{ works.dateWork }}</td>
                <td class="text-center">{{ works.ubicacion}}</td>
                <td class="text-center">
                    {% for sup in data %}
                    {% if works.idUserSup == sup.idUser %}
                    {{ sup.name }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="text-center">{{ works.nameDoc}}</td>
                <!-- Estado dependiendo de variables -->
                <td class="text-center">
                    {% if works.enableWork and works.checkSup %} Autorizado {% endif %}
                    {% if works.enableWork and not works.checkSup %} Pendiente autorización {% endif %}
                    {% if not works.enableWork and works.checkSup %} Trabajo asignado {% endif %}
                </td>
                <!-- PENDIENTE REALIZAR RUTA PARA VER DETALLES DE TRABAJO -->
                <td width="300">
                    <span style="display: flex; justify-content:space-between;">
                        <a href="#" type="button" class="btn btn-warning btn-sm" tooltip="Ver detalles">
                            <i class="bi bi-eye"></i>
                            Detalles
                        </a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row mb-5">
    <div class="col-md-12">
        <h3 class="text-center">No hay trabajos para mostrar al usuarios</h3>
    </div>
</div>
{% endif %}